$def with ()
$var title: Password Self Service

<div id="content">

<h1>Overview</h1>

<h2>End users</h2>
<p>
  <a href="changepw">Change own password</a>
  (see <a href="/pwd.html#changepw">user-guide</a>)
</p>
<p>
  <a href="checkpw">Check own password</a>
  (see <a href="/pwd.html#checkpw">user-guide</a>)
</p>

<p>
  If you forgot your old password or you need initial password for a new
  account there is a two-step password reset process
  (see <a href="/pwd.html#reset-procedure">user-guide</a>)
  to be started with
  <p>
    <a href="requestpw">Request password reset</a>
  </p>
</p>

<h2>Zone admins</h2>

  <p>
    <a href="viewuser">View user</a>
    e.g. for retrieving reset password.
  </p>

</div>
