{% extends 'layout.html' %}

{% block content %}
  <h1>Change password</h1>

  {% if message %}
    <p class="message">{{ message }}</p>
  {% endif %}

  <form
    method="POST"
    action="{{ config['APPLICATION_ROOT'] }}{{ url_for('changepw') }}"
    enctype="application/x-www-form-urlencoded"
    accept-charset="utf-8"
  >

    <fieldset>
      <table>
        <tr>
          <th>
            User name:
          </th>
          <td>
            <input
              name="username"
              title="User name of &AElig;-DIR personal account"
              placeholder="User name of &AElig;-DIR personal account"
              maxlength="60"
              size="30"
              autofocus
              value="{{ username }}"
            >
          </td>
        </tr>
        <tr>
          <th>
            Old password:
          </th>
          <td>
            <input
              type="password"
              name="password"
              autocomplete="current-password"
              title="User password or password+OTP"
              placeholder="User password or password+OTP"
              maxlength="200"
              size="60"
              value=""
            >
          </td>
        </tr>
        <tr>
          <th>
            New password:
          </th>
          <td>
            <input type="password" name="newpassword1" autocomplete="new-password" value="" size="40">
          </td>
        </tr>
        <tr>
          <th>
            New password (repeat):
          </th>
          <td>
            <input type="password" name="newpassword2" autocomplete="new-password" value="" size="40">
          </td>
        </tr>
      </table>
      <input type="submit" class="submit" name="submit" value="Set new password" />
    </fieldset>

  </form>

  <ul class="tip">
    <li>Note the minimum password length!</li>
    <li>You might need to provide a 2nd factor with the old password!</li>
    <li>Password with capital and lower-case chars, numbers, and special chars.</li>
    <li><strong>Password must not be used before!</strong></li>
    <li>
      Forgot old password? &rarr;
      <a href="requestpw?username={{ username }}">Request password reset</a>.
    </li>
  </ul>
{% endblock content %}
