{% extends 'layout.html' %}

{% block content %}
  <h1>Check password</h1>

  {% if message %}
    <p class="message">{{ message }}</p>
  {% endif %}

  <form
    method="POST"
    action="{{ config['APPLICATION_ROOT'] }}{{ url_for('checkpw') }}"
    enctype="application/x-www-form-urlencoded"
    accept-charset="utf-8"
  >

    <fieldset>
      <table>
        <tr>
          <th>
            User name:
          </th>
          <td>
            <input
              name="username"
              title="User name of &AElig;-DIR personal account"
              placeholder="User name of &AElig;-DIR personal account"
              maxlength="60"
              size="30"
              autofocus
              value="{{ username }}"
            >
          </td>
        </tr>
        <tr>
          <th>
            Password:
          </th>
          <td>
            <input
              type="password"
              name="password"
              autocomplete="current-password"
              title="User password or password+OTP"
              placeholder="User password or password+OTP"
              maxlength="200"
              size="60"
              value=""
            >
          </td>
        </tr>
      </table>
      <input type="submit" class="submit" name="submit" value="Check password" />
    </fieldset>

  </form>

  <ul class="tip">
    <li>You might need to provide a 2nd factor with password!</li>
    <li>
      Forgot password? &rarr;
      <a href="requestpw?username={{ username }}">Request password reset</a>.
    </li>
  </ul>
{% endblock content %}
