{% extends 'layout.html' %}

{% block content %}
  <h1>Change password</h1>

  {% if message %}
    <p class="message">{{ message }}</p>
  {% endif %}

  <form
    method="POST"
    action="{{ config['APPLICATION_ROOT'] }}{{ url_for('viewuser') }}"
    enctype="application/x-www-form-urlencoded"
    accept-charset="utf-8"
  >

    <fieldset>
      <table>
        <tr>
          <th>
            Admin user name:
          </th>
          <td>
            <input name="username" value="{{ username }}" size="25">
          </td>
        </tr>
        <tr>
          <th>
            Admin password:
          </th>
          <td>
            <input type="password" name="password" value="" size="60">
          </td>
        </tr>
        <tr>
          <th>
            User name to search:
          </th>
          <td>
            <input name="othername" value="{{ othername }}" size="25">
          </td>
        </tr>
      </table>
      <input type="submit" class="submit" name="submit" value="View user" />
    </fieldset>

  </form>

  <ul class="tip">
    <li>Only zone admins are allowed to query reset password of a particular user.</li>
    <li>You might need to provide a 2nd factor with the password!</li>
  </ul>
{% endblock content %}
